@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryLight: #f8f6f2;
  --primaryDark: #1b1f27;
  --primaryMid: #eae3d7;
  --primaryBlue: #1c376d;
  --secondaryBlue: #465b84;
  --accentBlue: #5f78a9;
  --primaryGreen: #6b7543;
  --secondaryGreen: #578446;
  --accentGreen: #82a95f;
  --header-height: 105px;
}

body {
  background-color: var(--primaryBlue);
  color: var(--primaryLight);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
