@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryDark: white;
  --primaryLight: #181818;
}

body {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
